<%- model_class = Service -%>
<% content_for :title, model_class.model_name.human.pluralize.titleize %>

<div class="service-header">
  <%= image_tag @service.logo_url, class: "service-logo" %>
  <h1><%= @service.name %></h1>
  <blockquote>
    <p><%= @service.description %></p>
  </blockquote>
  Website: <%= link_to @service.url, @service.url %>
</div>

<div id="service-notifications" class="service-notifications">
  <h3>Notification Types</h3>
  <div class="container">
    <div class="row">
        <% @service.notification_types.each do |notif| %>
          <div class="col-md-4 col-sm-6">
            <div class="service-wrapper">
              <span class="mega-octicon octicon-star"></span>
              <h3><%= notif.name %></h3>
              <p><%= notif.description %>m</p>
              <a href="#" class="btn">Get Notified</a>
            </div>
          </div>
        <% end %>
    </div>
  </div>

</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              services_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_service_path(@service), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              service_path(@service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
