<%= simple_form_for(@condition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :type %>
    <%= f.input :html_control %>
    <%= f.input :required %>
    <%= f.input :values %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
