.container.marketing
  %h2 Administration
  %hr
  .row
    .col-md-4
      %h4= "Notifications Sent: #{@stats['sent']}"
      %br
    .col-md-4
      %h4= "Notifications Created: #{@stats['notif']}"
      %br
    .col-md-4
      %h4= "Users: #{@stats['users']}"
      %br
  %br
  %h4 Latest Notifications Sent
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th #
        %th Service
        %th Type
        %th User
        %th Time
      %tbody
        - @count = 0
        - @latest_notifications.each do |notification|
          - @count += 1
          %tr
            %td= @count
            %td= notification['service']
            %td= notification['type']
            %td= notification['uid']
            %td= notification['time']



