<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :service %>
    <%= f.input :notif_type %>
    <%= f.simple_fields_for :conditions do |condition| %>
        <%= condition.input :pages, :input_html => { :value => '' } %>
        <%= condition.input :author  %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
