<h1>Listing notification_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Service</th>
      <th>Account required</th>
      <th>Condition</th>
      <th>Featured</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_types.each do |notification_type| %>
      <tr>
        <td><%= notification_type.name %></td>
        <td><%= notification_type.description %></td>
        <td><%= notification_type.service.name %></td>
        <td><%= notification_type.account_required %></td>
        <td><%= notification_type.featured %></td>
        <td><%= notification_type.public %></td>
        <td><%= link_to 'Show', notification_type %></td>
        <td><%= link_to 'Edit', edit_notification_type_path(notification_type) %></td>
        <td><%= link_to 'Destroy', notification_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification type', new_notification_type_path %>
